body{
    background-color:#6bc6d5
}

.head{
    color:#009BB8;
    font-size:5vh;
    text-align:center;
    background-color:#e2f0f2;
}

.joonghyuk{
    color:#009BB8
}
.sooyoung{
    color:#009BB8
}
.dokja{
    color:#009BB8;
}