body{
    background-color:#6bc6d5;
    font-family: 'EB Garamond', serif;
}

.head{
    color:#009BB8;
    font-size:5vp;
    width:570PX;
    text-align:center;
    margin: 0 auto;
    padding:20px 2px 20px 2px;
    background-color:#e2f0f2;
}

.joonghyuk{
    color:#009BB8;
    background-color: #9ee3f0;
    text-align:center;
    margin:0 auto;
    margin-top:25px;
    padding:3px 3px;
    width:570px;
    height:450px;
}
.sooyoung{
    color:#009BB8;
    background-color: #9ee3f0;
    text-align:center;
    margin:0 auto;
    margin-top:25px;
    padding:3px 3px;
    width:570px;
    height:450px;
}
.dokja{
    color:#009BB8;
    background-color: #9ee3f0;
    text-align:center;
    margin:0 auto;
    margin-top:25px;
    padding:3px 3px;
    width:570px;
    height:450px;
}
